body {
	padding: 0; 
	margin: 0;
	width: 100vw;
	position: relative;
} 
span {
	font-family: 'Roboto Mono', monospace;
	padding : 30px;
} 

.center , canvas {
		display: flex;
		flex-direction: row; 
		justify-content: center;
		margin-left: auto;
		margin-right: auto;		
}