<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">Audio Based Melody Generation</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/info">Info</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://github.com/lucaspbastos/Audio-Based-Melody-Generation">GitHub</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://github.com/lucaspbastos/Audio-Based-Melody-Generation#README">README</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
                <h2>'<%= filepath1 %>'</h2>
                <div id="waveform1"></div>
                <button class="btn btn-primary" id="restart1"><i class='fa fa-play'></i> Play from Start</button>
                <button class="btn btn-success" id="control1"><i class='fa fa-play'></i> Play Selection</button><br><br>
    
                <h2>'<%= filepath2 %>'</h2>
                <div id="waveform2"></div>
                <button class="btn btn-primary" id="restart2"><i class='fa fa-play'></i> Play from Start</button>
                <button class="btn btn-success" id="control2"><i class='fa fa-play'></i> Play Selection</button><br><br>
                
            <form action="./end" onsubmit="getTimes()" method="POST">
                <input type="hidden" id="jsonValue" name="jsonValue" value="{}" display="block">
                <button type="submit" class="btn btn-warning" id="continue2"><i class="fa fa-arrow-circle-right"></i> Continue</button>
            </form>
        </div>
        <script src="https://unpkg.com/wavesurfer.js"></script>
        <script src="https://unpkg.com/wavesurfer.js/dist/plugin/wavesurfer.regions.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>          
        <script>
            var wavesurfer1 = WaveSurfer.create({
                progressColor: 'blue',
                container: '#waveform1',
                plugins: [
                    WaveSurfer.regions.create({
                        regions: [
                            {
                                id: 1,
                                start: 1,
                                end: 3,
                                color: 'hsla(120, 100%, 50%, 0.3)'
                            }
                        ]
                    })
                ]
            });

            var wavesurfer2 = WaveSurfer.create({
                progressColor: 'blue',
                container: '#waveform2',
                plugins: [
                    WaveSurfer.regions.create({
                        regions: [
                            {
                                id: 1,
                                start: 1,
                                end: 3,
                                color: 'hsla(120, 100%, 50%, 0.3)'
                            }
                        ]
                    })
                ]
            });
        
            if ('<%= filepath1 %>' && '<%= filepath2 %>') {
                wavesurfer1.load('<%= filepath1 %>');
                wavesurfer2.load('<%= filepath2 %>');
                document.getElementById("restart1").addEventListener("click", restart1);
                document.getElementById("control1").addEventListener("click", press1);
                document.getElementById("restart2").addEventListener("click", restart2);
                document.getElementById("control2").addEventListener("click", press2);
            }

            function restart1() {
                if (wavesurfer1.isPlaying()) {
                    document.getElementById("restart1").innerHTML = "<i class='fa fa-play'></i> Play";
                    document.getElementById("control1").style.display = "inline";
                    wavesurfer1.pause();
                } else {
                    document.getElementById("restart1").innerHTML = "<i class='fa fa-pause'></i> Pause";
                    document.getElementById("control1").style.display = "none";
                    wavesurfer1.play(0);
                }
            }

            function restart2() {
                if (wavesurfer2.isPlaying()) {
                    document.getElementById("restart2").innerHTML = "<i class='fa fa-play'></i> Play";
                    document.getElementById("control2").style.display = "inline";
                    wavesurfer2.pause();
                } else {
                    document.getElementById("restart2").innerHTML = "<i class='fa fa-pause'></i> Pause";
                    document.getElementById("control2").style.display = "none";
                    wavesurfer2.play(0);
                }
            }

            function press1() {
                if (wavesurfer1.isPlaying()) {
                    document.getElementById("control1").innerHTML = "<i class='fa fa-play'></i> Play Selection";
                    document.getElementById("restart1").style.display = "inline";
                    wavesurfer1.pause();
                } else {
                    document.getElementById("control1").innerHTML = "<i class='fa fa-pause'></i> Pause";
                    document.getElementById("restart1").style.display = "none";
                    wavesurfer1.regions.list[1].playLoop();
                }
            }

            function press2() {
                if (wavesurfer2.isPlaying()) {
                    document.getElementById("control2").innerHTML = "<i class='fa fa-play'></i> Play Selection";
                    document.getElementById("restart2").style.display = "inline";
                    wavesurfer2.pause();
                } else {
                    document.getElementById("control2").innerHTML = "<i class='fa fa-pause'></i> Pause";
                    document.getElementById("restart2").style.display = "none";
                    wavesurfer2.regions.list[1].playLoop();
                }
            }

            function getTimes() {
                let obj = {
                    "<%= filepath1 %>": {
                        "startTime1":wavesurfer1.regions.list[1].start,
                        "endTime1":wavesurfer1.regions.list[1].end
                    },
                    "<%= filepath2 %>": {
                        "startTime2":wavesurfer2.regions.list[1].start,
                        "endTime2":wavesurfer2.regions.list[1].end
                    }
                };
                document.getElementById("jsonValue").value = JSON.stringify(obj);
            }
        </script>
    </body>
</html>