<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">Audio Based Melody Generation</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/info">Info</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://github.com/lucaspbastos/Audio-Based-Melody-Generation">GitHub</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://github.com/lucaspbastos/Audio-Based-Melody-Generation#README">README</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            <div id="waveform"></div>
            <button class="btn btn-primary" id="restart"><i class='fa fa-play'></i> Play from Start</button>
            <button class="btn btn-success" id="control"><i class='fa fa-play'></i> Play Selection</button><br><br>
                <button class="btn btn-warning" id="continue"><i class="fa fa-arrow-circle-right"></i> Continue</button>
            
        </div>
        <script src="https://unpkg.com/wavesurfer.js"></script>
        <script src="https://unpkg.com/wavesurfer.js/dist/plugin/wavesurfer.regions.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>          
        <script>
            var wavesurfer = WaveSurfer.create({
                progressColor: 'purple',
                container: '#waveform',
                plugins: [
                    WaveSurfer.regions.create({
                        regions: [
                            {
                                id: 1,
                                start: 1,
                                end: 3,
                                color: 'hsla(120, 100%, 50%, 0.3)'
                            }
                        ]
                    })
                ]
            });
        
            if ('<%= filepath %>') {
                document.getElementById("restart").addEventListener("click", restart);
                document.getElementById("control").addEventListener("click", press);
                wavesurfer.load('<%= filepath %>');
                console.log(wavesurfer)
            }

            function restart() {
                if (wavesurfer.isPlaying()) {
                    document.getElementById("restart").innerHTML = "<i class='fa fa-play'></i> Play";
                    document.getElementById("control").style.display = "inline";
                    wavesurfer.pause();
                } else {
                    document.getElementById("restart").innerHTML = "<i class='fa fa-pause'></i> Pause";
                    document.getElementById("control").style.display = "none";
                    wavesurfer.play(0);
                }
            }

            function press() {
                if (wavesurfer.isPlaying()) {
                    document.getElementById("control").innerHTML = "<i class='fa fa-play'></i> Play Selection";
                    document.getElementById("restart").style.display = "inline";
                    wavesurfer.pause();
                } else {
                    document.getElementById("control").innerHTML = "<i class='fa fa-pause'></i> Pause";
                    document.getElementById("restart").style.display = "none";
                    wavesurfer.regions.list[1].playLoop();
                }
            }

            function getTimes() {
                let startTime = wavesurfer.regions.list[1].start;
                let endTime = wavesurfer.regions.list[1].end;
            }
        </script>
    </body>
</html>